@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;800&display=swap");

.navbarImg {
  background-color: royalblue;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.backgroundHomePart {
  background-color: lightblue;
  height: 700px;
  text-align: center;
}

.centerNavbarInscription {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.centerJumbotronInscription {
  position: relative;
  top: 20%;
}

.interFontLight {
  font-family: "Inter", sans-serif;
}

.interFontBold {
  font-family: "Inter", sans-serif;
  font-weight: 800;
}

.centerNavbarInscription:hover {
  opacity: 0;
  transition: all 1s;
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mouse {
  width: 25px;
  height: 40px;
  border: solid black 2px;
  border-radius: 20px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 286px;
}

.mouseDot {
  width: 5px;
  height: 5px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 7px;
  animation: mouseMove 1.5s;
  animation-iteration-count: infinite;
}

@keyframes mouseMove {
  from {
    top: 5px;
    opacity: 1;
  }
  to {
    top: 22px;
    opacity: 0;
  }
}
